In [1]:
import pandas as pd
df = pd.read_pickle("https://ai-project-inflation.s3.amazonaws.com/data_merged.pkl")
# df = pd.read_pickle("data_merged.pkl")
df.head()

,Date,Inflation_Rate,CPI,Prime_Rate,Crude_prices,10_year_bond,1 USD,manu_labor_rate,CAD_M1_MoneySupply,USD_CAD_rate,SNP_TSX_Close
0,2000-05,1.6,95.5,7.5,27.74,6.215000,1.493630,18.42,2.281010e+11,1.494781,9252.000000
1,2000-06,1.7,95.8,7.5,29.80,5.895455,1.477324,18.28,2.300620e+11,1.476701,10195.500000
2,2000-07,1.8,95.8,7.5,28.68,5.863500,1.477323,18.31,2.318970e+11,1.478021,10406.299805
3,2000-08,1.9,96.0,7.5,30.20,5.766364,1.482096,18.33,2.326990e+11,1.482260,11247.900391
4,2000-09,1.8,96.2,7.5,33.14,5.729500,1.483830,18.25,2.352800e+11,1.485195,10377.900391